{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">My Items</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for item in transactions %}
        <div>
            <a href="{% url 'items:detail' item.id %}">
                <div class = "p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">{{ item.name }}</h2>
                    <p class="text-gray-500">Price: {{ item.price }}Rs</p>
                    <p class="text-gray-500">Quantity: {{ item.quantity }}Kg</p>
                    {% if item.created_by %}
                    <div class="mt-4 inline-block px-3 py-1 text-sm font-semibold text-white bg-green-500 rounded-full">
                        <p>Seller: {{  item.created_by }}</p>
                        <p>{{  item.created_at }}</p>
                    </div>
                    {% endif %}
                    {% if item.sold_to %}
                    <div class="mt-4 inline-block px-3 py-1 text-sm font-semibold text-white bg-cyan-500 rounded-full">
                        <p>Buyer: {{  item.sold_to }}</p>
                        <p>{{  item.sold_at }}</p>
                    </div>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}